
/*header*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-item{
    font-family : 'viaoda Libre''Poppins', sans-serif ;
}

.nav-item:hover{
    border-top: 2px solid #21E71B;
    
}

.nav-item:active{
    border-top: 2px solid #21E71B;
}

.nav-link{
    font-family: 'Poppins';
}

.background_header{
    position: relative;
    height: 75vh;
}

.background_header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    
}

.background_header::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 50%);
}

.background_header h1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'viaoda libre';
    font-weight: 900;
    
}

/* Page Acceuil section association */

.association{
    margin-top: 5rem;
}

.association img {
    width: 100%;
    position: relative;
    margin-top: -5rem;
}

.association p {
    margin-top: -5rem;
    font-family: 'Poppins';
}
@media screen and (min-width: 768px){
    .association p {
        margin-top: 0;
    }
}

.btn-success{
    background: #21E71B;
    border-color: #21E71B;
}

/* Page Acceuil section grid_photo */

.container{
    width: 100%;
    max-width: 120rem;
}

.img-gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    grid-row-gap: 1.5rem;
    grid-template-areas: 
                        'img-1' 
                        'img-2'
                        'img-3'
                        'img-4'
                        'img-5'
                        'img-6'
                        'img-7'
                        'img-8'
                        'img-9'
                        'img-10';
}
@media (min-width: 768px){
    .img-gallery{
        grid-template-columns: 1fr 1fr ;
        grid-gap: 1.5rem;
        grid-template-areas: 
                        'img-1 img-2' 
                        'img-3 img-3'
                        'img-4 img-5'
                        'img-10 img-6'
                        'img-7 img-7'
                        'img-8 img-9';
    }
}

@media (min-width: 1200px){
    .img-gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'img-1 img-2 img-4 img-5 img-3 img-3'
            'img-6 img-6 img-7 img-10 img-8 img-9';
    }
}


.img-gallery a {
    width: 100%;
    height: 30rem;
    min-height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px){
    .img-gallery a{
        height: 20rem;
        
    }
}

.img-1{
    grid-area: img-1;
    background-image: url(img/img-gorille-1.jpg);

}

.img-2{
    grid-area: img-2;
    background-image: url(img/img-gorille-2.jpg);

}

.img-3{
    grid-area: img-3;
    background-image: url(img/img-gorille-3.jpg);

}

.img-4{
    grid-area: img-4;
    background-image: url(img/img-gorille-4.jpg);

}

.img-5{
    grid-area: img-5;
    background-image: url(img/img-gorille-5.jpg);

}

.img-6{
    grid-area: img-6;
    background-image: url(img/img-gorille-6.jpg);

}

.img-7{
    grid-area: img-7;
    background-image: url(img/img-gorille-7.jpg);

}

.img-8{
    grid-area: img-8;
    background-image: url(img/img-gorille-8.jpg);

}

.img-9{
    grid-area: img-9;
    background-image: url(img/img-gorille-9.jpg);

}

.img-10{
    grid-area: img-10;
    background-image: url(img/img-gorille-1.jpg);

}

/* Page Acceuil section actions */
.actions button{
    margin-bottom: 2rem;
}
.actions p {
    font-family: 'Poppins';
}
.actions img{
    width: 100%;
}

/* Page Association */
.notre-assos img {
    width: 100%;
}

.notre-assos h3{
    font-family: 'viaoda libre';
}

.notre-assos p {
    font-family: 'Poppins';
}

.phrase p{
    color: #21E71B;
    font-family: 'Poppins';
    text-align: center;
    font-size: .9rem;
}

.notre-assos li{
    font-family: 'Poppins';
    position: relative;
    margin-bottom: .3rem;
 }

 
@media (min-width: 768px){
    #img-order{
        order: 2;
    }

    #text-order{
        order: 1;
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* Page Gorille */
.info-general .row {
    align-items: inherit;
}

.info-general img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-general h3{
    font-family: 'viaoda libre';
}

.info-general p {
    font-family: 'Poppins';
}

.info-general ul{
    list-style: none;
}
.info-general li{
    font-family: 'Poppins';
    position: relative;
    margin-bottom: .3rem;
 }

.info-general li::before{
    content: " ";
    position: absolute;
    top: 0;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url('../img/logo-nav.svg');
    background-repeat: no-repeat;
} 

@media (min-width: 768px){
    #img-order{
        order: 2;
    }

    #text-order{
        order: 1;
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#gridgorilles{
    background-color: white;
}

/* Nos actions */
.nos_actions img {
    width: 100%;
}

.nos_actions h3{
    font-family: 'viaoda libre';
}

.nos_actions p {
    font-family: 'Poppins';
}

@media (min-width: 768px){
    #img-order{
        order: 2;
    }

    #text-order{
        order: 1;
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/*Page Nous contacter*/
.background_form img {
    width: 100%;
    margin-top: 90px;
  }
  .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #firstname {
    width: 100%;
  }
  #lastname {
    width: 100%;
  }
  
  #phone {
    width: 100%;
  }
  
  #e-mail {
    width: 100%;
    margin-bottom: 0px;
  }
  
  #message {
    width: 100%;
  }
  
  .btn {
    width: 100%;
  }

  .form-control:focus {
      border-color: #21E71B;
      box-shadow: none;
  }

@media (min-width: 768px){
    .background_form{
        height: 100vh;
    }
    .form {
        width: 33em !important;
      }
    
      #firstname {
        width: 100%;
      }
      #lastname {
        width: 100%;
      }
    
      #phone {
        width: 100%;
      }
    
      #e-mail {
        width: 100%;
        margin-bottom: 0;
      }
    
      #message {
        width: 100%;
      }
    
      #btn {
        width: 100%;
      }
}

@media (min-width: 1200px){
    .background_form{
        height: 100vh;
    }
    .form {
        width: 28em !important;
        position: absolute;
        top: 19rem;
        left: 59rem;
        background: white;
      }
    
      #firstname {
        width: 100%;
      }
      #lastname {
        width: 100%;
      }
    
      #phone {
        width: 100%;
      }
    
      #e-mail {
        width: 100%;
      }
    
      #message {
        width: 100%;
      }
}

/* footer */
footer{
    background: #212529;
    color:  rgba(255,255,255,.55);
    margin-top: 2rem;
}

footer p{
    font-family: 'Poppins';
}

.lois_1901 img{
    height: 100px;
    margin-bottom: 1rem;
}

.lois_1901 p{
    font-size: small;
}

.rs a {
    text-decoration: none;
}
.rs a svg{
    margin-right: 1rem;
}


footer .mention_legal{
    text-align: center;
}

footer .mention_legal a{
    text-decoration: none;
    color: #21E71B;
}


